.ieeeLogo{
  margin-bottom: 1.45rem;
  margin-left: 5rem;
}

#home-section{
    background: #1c92d2;  
    background: -webkit-linear-gradient(to left, #f2fcfe, #8cb4c9);  
    background: linear-gradient(to left, #f2fcfe, #8cb4c9); 
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.mainHeading{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 4.0rem;
}

.subHeading{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    font-size: 2.6rem;
}

.aboutUs{

    padding-top: 5rem;
    padding-bottom: 7rem;
}

.sectionHeading{
    font-family: 'Equinox', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

.sectionHeadingLight{
  color: #ffffff;
}
.custom{
  margin-top: -2rem;
}
#aboutUs{
    padding-top: 5rem;
    padding-bottom: 7rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.aboutUsIntro{
    margin-top: 2rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
}
.aboutUscard{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    background-size: cover;
    background-position: center !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#leadership{
  padding: 2% 0 4% 0;
  background-color: #021119;
}
/* Navbar */

.home {
    height: 690px;
    /* background: linear-gradient(to top left, #ecf7f3, #00567B); */
    background-image: url(./img/backgroung1.png);
    background-size: cover;
    background-position: center !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
  }

.navbar {
    padding-top: 50px;
  }
  
  .nav-link {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:white !important;
    min-width: 100px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    text-align: center;
  }
  
  .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    position: relative;
    color: #f4f4f4;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: none;
  }
  
  .navbar-brand {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #f4f4f4;
    padding: 0 16px;
  }


.home-heading {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 1.3;
    font-weight: 300;
    font-family: "Roboto Slab", sans-serif;
    padding: 0 8px;
    max-width: 700px;
    width: 100%;
    z-index: 5;
  }
  
  .hero-sub-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .hero-sub-title > a:hover {
    color: #f4f4f4;
  }

  /* Board section */
  .card-container {
    display: grid;
    grid-gap: 50px 50px;
  }

  .card-column{
    float: left;
    width: 33.33%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card-area {
    width: 20%;
    height: 10%;
    overflow: hidden;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  .domainCards{
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    background-image: url("./img/Group\ 7.png");
    background-size: cover;
    background-position: center !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
  }

  .domainCardstext{
    text-align: center;
    padding: 16%;
    border-radius: 13rem;
    color: white;
  }

  .card-column .card:hover{
    /* margin: 20px 20px; */
    transform: scale(1.06);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
    z-index: 100;
  }

  .card a i{
    font-size: 2em;
    color: black;
    margin: 5px;
  }

  .card img{
    border-radius: 50%;
    padding: 50px;
    float: top;
  }

  .img-text{
    background: #ffffff;
    margin-top:-25px;
    padding: 20px 60px;
    color: #262626;
  }

  .img-text h2{
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin: 0;
  }

.spacing{
  margin-bottom: 2rem;
}

  /* 
  =================================
  --------- Media Query -----------
  ===============================*/
  
  /*==============================
  ---------- Mobile View  --------
  ==============================*/
  @media (min-width: 250px) and (max-width: 700px) {
    .navbar {
    padding-top: 20px;
  }
    .nav-item, .nav-link, .nav{
        color:#021119 !important;
    }

    .mainHeading{
      font-size: 3rem;
    }

    #aboutUs{
      padding: 0%;
    }

    .sectionHeading{
      margin-top: 2rem;
      padding-top: 2rem;
    }

   .aboutUsIntro{
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .social {
      text-align: center !important;
    }

    .twitterIcon, .instaIcon{
        color: #00567B !important;
    }
    
    .navbar-collapse {
      background-color: #fff;
      padding: 20px;
      z-index: 55;
    }
    .ieeeLogo{
      margin-bottom: 0px;
      margin-left: 0px;
    }
    .card-column{
      width: 100%;
    }
  }
  
  /* Mobile -btn */
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-dark .navbar-toggler {
    border-color: transparent !important;
    color: rgba(255,255,255,.01);
    }
  

  /* ========================
  -------- Desktop ----------
  =========================*/
  
  @media (min-width: 1200px) {
    .navbar {
      width: 1140px;
      padding-left: 120px;
    }
  
    .text-white {
      font-family: "Open Sans", sans-serif;
    }
  }

  /* General Tablet Size */
  @media (min-width: 768px) and (max-width: 1020px) {
    .navbar-collapse {
      background-color: #fff !important;
      padding: 20px;
      z-index: 55;
    }
    #aboutUs{
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .domainCards{
      height: 13rem;
      width: 13rem;
    }

    .domainCardstext{
      padding:10.5%;
    }

    .nav-item, .nav-link, .nav{
      color:#021119 !important;
  }
    .soci-mobile{
      text-align: center;
      color: #021119 !important;
    }
    .twitterIcon,.instaIcon{
      color: #021119!important;
    }
    .ieeeLogo{
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }

  /* iPad Pro Screen */
  @media (min-width: 800px) and (max-width: 1020px) {
    .navbar-collapse {
      color: #fff !important;
      padding: 20px;
      z-index: 55;
    }
    .ieeeLogo{
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }

  @font-face {
    font-family: "Equinox";
    src: url("./fonts/Equinox Regular.woff") format("woff"),
    url("./fonts/Equinox Bold.woff") format("woff");
    }